html {
	font-size: 100%
}


p {
    font-family: "PT Serif italic", Georgia, "Times New Roman", serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
	background-color: #f59c5d
}

.italic {
	font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat 700", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	background-color: #f59c5d;

}

h2 {
	font-size: 1.5rem;
	text-align: center;
}

body{
	background-color:#f59c5d;
}
nav ul li {
    display: block;
    border-top: 1px #f59c5d solid;
}

nav a {
    color: #f59c5d;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #fff;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}

a img { border: none; }

#container{
    width: 95%;
    background-color: #EEECD0;
    margin: 0 auto;
}


body {
	font-size: 1em;
	font-family: 'Montserrat 700', sans-serif;
	color: #fff;
	background: #f59c5d;
	padding-left: 5%;
	padding-right: 5%;
}
.container {
	padding: 10px;
	background: #fff;
  	border-radius: 5px;
	margin: 45px auto;
  	box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.item {
	color: #000;
	padding: 15px;
	font-family: 'Montserrat 700', sans-serif;
	font-weight: bolder;
	font-style: oblique;
	list-style-type: none;
	text-decoration: none;
	margin: 5px;
	background: ##735ba6;
	border-radius: 3px

}

.item a:hover, .item  a:active {
    background-color: ##ddd0ee;}

a:link, a:visited {
	display:block;
    color: #000;
		list-style-type: none;
		text-decoration: none;
}




.container {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.container {
		display: flex;
		flex-direction: row;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}
}

@media (min-width: 800px) {

	.item-1 {
		margin-right: auto;
	}
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

	.section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section2 {
    grid-area: d;
  }

	.section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}
